In [54]:
import pandas as pd

# filepath
csv_file_path = r'C:\Users\Admin\Documents\Data Intelligence Engineer project\Task Files\Data Intelligence Engineer - test assignment dataset - Mealco.csv'

# loading data to dataframe
data = pd.read_csv(csv_file_path)

# first 5 rows
print(data.head())

         ID      Order Timestamp         Brand Kitchen  Total amount  \
0  AF5422F8  2020-01-22T19:19:00  GreenGourmet   Alpha     10.482977
1  33EB7E4A  2020-01-22T20:11:00  GreenGourmet   Alpha     16.859377
2  7A84AE24  2020-01-22T20:21:00  GreenGourmet   Alpha     28.070768
3  7F3EE9FE  2020-01-23T18:31:00  GreenGourmet   Alpha     36.593027
4  7B2C21EA  2020-01-23T19:05:00  GreenGourmet   Alpha     28.709964

               Channel  destination_lat  destination_lng Customer Name
0  QuickCuisineConnect              NaN              NaN     MELANIE V
1  QuickCuisineConnect              NaN              NaN    CAROLINA Z
2  QuickCuisineConnect              NaN              NaN         TIM O
3  QuickCuisineConnect              NaN              NaN     MELANIE J
4  QuickCuisineConnect              NaN              NaN         KAT D

In [55]:
# checking missing values
missing_values = data.isnull().sum()
print(missing_values)

ID                     0
Order Timestamp        0
Brand                  0
Kitchen                0
Total amount           8
Channel              410
destination_lat    16793
destination_lng    16793
Customer Name          0
dtype: int64

In [56]:
# Check data types of each column
data_types = data.dtypes
print(data_types)

ID                  object
Order Timestamp     object
Brand               object
Kitchen             object
Total amount       float64
Channel             object
destination_lat    float64
destination_lng    float64
Customer Name       object
dtype: object

In [57]:
# Get a basic statistical summary of the numeric fields
statistical_summary = data.describe()
print(statistical_summary)

       Total amount  destination_lat  destination_lng
count  44378.000000     27593.000000     27593.000000
mean      22.865627        40.728299       -73.973492
std       15.083798         0.104142         0.724079
min        0.000000        37.033123      -122.234881
25%       14.439873        40.704843       -73.984802
50%       19.572138        40.731687       -73.957395
75%       27.699605        40.748295       -73.941418
max      475.827885        47.380955       -73.825891

Cleaning data

In [58]:

#changing order timestamp datatype to datetime for proper analysis
data['Order Timestamp'] = pd.to_datetime(data['Order Timestamp'])

In [59]:
# checking duplicate values for each column

duplicate_counts = data.apply(lambda x: x.duplicated().sum())

# Display the number of duplicates for each column
print(duplicate_counts)

ID                     0
Order Timestamp     2739
Brand              44383
Kitchen            44382
Total amount         411
Channel            44382
destination_lat    16792
destination_lng    16792
Customer Name      29096
dtype: int64

In [60]:
#dropping null values from Total amount colunmn for better analysis
data.dropna(subset=['Total amount'], inplace=True)

In [61]:
# changing Null value to placeholder value for "Unknown" - this way we can proper analysis without losing data
data['Channel'].fillna('Unknown', inplace=True)

In [62]:
data['Total amount'] = pd.to_numeric(data['Total amount'], errors='coerce')
data.head(5)

,ID,Order Timestamp,Brand,Kitchen,Total amount,Channel,destination_lat,destination_lng,Customer Name
0,AF5422F8,2020-01-22 19:19:00,GreenGourmet,Alpha,10.482977,QuickCuisineConnect,NaN,NaN,MELANIE V
1,33EB7E4A,2020-01-22 20:11:00,GreenGourmet,Alpha,16.859377,QuickCuisineConnect,NaN,NaN,CAROLINA Z
2,7A84AE24,2020-01-22 20:21:00,GreenGourmet,Alpha,28.070768,QuickCuisineConnect,NaN,NaN,TIM O
3,7F3EE9FE,2020-01-23 18:31:00,GreenGourmet,Alpha,36.593027,QuickCuisineConnect,NaN,NaN,MELANIE J
4,7B2C21EA,2020-01-23 19:05:00,GreenGourmet,Alpha,28.709964,QuickCuisineConnect,NaN,NaN,KAT D

In [63]:
# Save the modified dataset back to a file
data.to_csv(r'C:\Users\Admin\Documents\Data Intelligence Engineer project\Task Files\cleaned-dataset.csv', index=False)